.btns{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.button{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    width: 45px;
    height: 45px;
    text-align: center;
}